
.root {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 30px;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.logo {
  all: unset;

  cursor: pointer;

  top: 20px;

  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  padding: 6px 10px;



  background-color: #bd6f6f;
  box-shadow: 0 4px 11px 0 #807878;
  color: #d2caca;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  border-radius: 5px;
  text-decoration: none;

  &:hover {
    background-color: #f1c9c9;
    box-shadow: 0 4px 11px 0 #2d482a;
    color: #2c6c24;
  }
}

.buttons {
  button {
    margin-left: 10px;
  }

  a {
    text-decoration: none;
  }
}
